<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739170789151-0ppjl0k5ouq9b4s4h23d7lvsts9m85pg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739170789151-0ppjl0k5ouq9b4s4h23d7lvsts9m85pg</string>
	<key>API_KEY</key>
	<string>AIzaSyBnFsD02KUyQdjaYAtrbTFn2P4eKXrIwjY</string>
	<key>GCM_SENDER_ID</key>
	<string>739170789151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dartsLinkProject</string>
	<key>PROJECT_ID</key>
	<string>dartslinkprojectdevelop</string>
	<key>STORAGE_BUCKET</key>
	<string>dartslinkprojectdevelop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:739170789151:ios:25c80f777b2ab326a1b22a</string>
</dict>
</plist>